# dependencies
node_modules/

# production build
.next/
out/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/
*.lcov

# environment variables
.env
.env.local
.env.*.local

# system files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# optional: Tailwind-related
tailwind.config.js
postcss.config.js
